.backrooms {
  background-image: url("../images/backgroundBro.png");
}

.closeToBlack {
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: #111111;
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(68, 68, 68, 1) 76%
  );
}

.lalaland {
  text-shadow:
    3px 2px 0px black,
    /* Bottom right */ -1px -1px 0px black,
    /* Top left */ 1px -1px 0px black,
    /* Top right */ -1px 1px 0px black; /* Bottom left */
  color: #ffffff;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}

#coolMusic {
  border: 2px solid #333333;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
