.backrooms {
  background-image: url("../images/backgroundBro.png");
}

.closeToBlack {
  background-image: url("../images/backgroundMusic.png");
  background-attachment: fixed;
}

.lalaland {
  text-shadow:
    3px 2px 0px black,
    /* Bottom right */ -1px -1px 0px black,
    /* Top left */ 1px -1px 0px black,
    /* Top right */ -1px 1px 0px black; /* Bottom left */
  color: #ffffff;
  text-align: center;
  font-family: "Comic Sans MS", sans-serif;
}

.musicDropdown {
  border: 2px solid #333333;
  height: 600px;
  overflow: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
